<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589752798190-nn0rehj1i27gdf6s3tt36e91mgeg8e1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589752798190-nn0rehj1i27gdf6s3tt36e91mgeg8e1o</string>
	<key>API_KEY</key>
	<string>AIzaSyDSn0GJqvKCtuP7lieePmlw-IFq9gjM9nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>589752798190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ourLap</string>
	<key>PROJECT_ID</key>
	<string>ourlap-37c5f</string>
	<key>STORAGE_BUCKET</key>
	<string>ourlap-37c5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589752798190:ios:123f20ce83dad4b89d5cff</string>
</dict>
</plist>